<p id="comment-name"><%= comment.user.name %>:</p>
<p id="comment-body"><%= comment.body %></p>

<p> <% if current_user.id == comment.user.id  %>
    <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>
</p>
