<div id="main-welcome">
  <h1>Welcome to the post party.</h1>
  <p><%= User.count(1) ? "Just one user exists." : User.count + " users have already joined us." %>
  <p>There <%= Article.count(1) ? "is just one post" : "are " + Article.count + " posts waiting for you" %>.</p>
  <p>
</div>
