@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');

body {
  font-family: sans-serif;
  font-family: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: saddlebrown;
  color: skyblue;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

input {
    background-color: white;
    color: black;
}

textarea {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

@import 'nav';
