@import 'reset.scss';
@import 'nav';

* {
  box-sizing: border-box;
  margin: 0;
  background-color: saddlebrown;
  color: skyblue;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

input {
    background-color: white;
    color: black;
}
