@import 'reset.scss';
@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');

* {
  color: skyblue;
}

body {
  font-family: "PT Sans", sans-serif;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: saddlebrown;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

#yield-box {
  top: 80px;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

@import 'nav';
@import 'welcome';
@import 'articles';
@import 'comments';
