input {
    background-color: white;
    color: black;
}

textarea {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
}

#articles-box {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 40vw;
  height: auto;
  background-color: rgba(0,0,0,0.1);
  margin: 20px auto;
  margin-top: 30px;
}

#article-title {
  font-family: 'Lobster', cursive;
  color: white;
}

#article-text {
  font-size: 2em;
}

p {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}
