nav {
  position: relative;
  background-color: darken(saddlebrown, 2%);
  width: 100vw;
  height: 10vh;
  margin: 10px;
  padding: 0px;
  text-align: center;
  z-index: 2;
  .right {
    float: right;
    margin-right: 60px;
    display: inline-block;
  }
  .session-links {
    font-family: "PT Sans", sans-serif;
    font-size: 2em;
    margin-top: 10px;
  }
  .left {
    float: left;
    display: inline-block;
    a {
      text-align: center;
      text-decoration: none;
      font-family: 'Lobster', cursive;
      color: skyblue;
      &:hover {
        color: white;
      }
    }
    p {
      margin-top: 24px;
      margin-left: 7px;
      text-align: center;
      color: white;
      font-style: italic;
    }
  }
}
