nav {
  background-color: saddlebrown;
  width: 100vw;
  height: 10vh;
  margin: 20px 40px;
  padding: 12px;
  li {
    float: right;
    margin-right: 60px;
    display: inline-block;
  }
  a {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: skyblue;
    &:hover {
      color: white;
    }
  }
}
