nav {
  background-color: saddlebrown;
  width: 100%;
  ul {
    list-style-type: none;
    margin: 15px;
    padding: 12px;
    overflow: hidden;
  }
  li {
    float: right;
  }
  a {
    display: inline-block;
    color: saddlebrown;
    text-align: center;
    &:hover {
      background-color: skyblue;
    }
  }
}
